Module 4/workflow/fhv_ingestion.yml

id: fhv_trip_data_ingestion
namespace: zoomcamp
description: |
  Workflow to populate FHV trip data
  CSV data used here comes from: https://github.com/DataTalksClub/nyc-tlc-data/releases/tag/fhv

inputs:
  
  - id: year
    type: SELECT
    displayName: Select year (optional – defaults to execution month)
    values: ["2019", "2020", "2021"]
    allowCustomValue: true 
    required: false

  - id: month
    type: SELECT
    displayName: Select month (optional – defaults to execution month)
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    required: false

variables:
  table_identifier: "fhv"
  run_date: "{{ ((inputs.year | default('')) != '' and (inputs.month | default('')) != '') ? inputs.year ~ '-' ~ inputs.month : trigger.date | date('yyyy-MM') }}"
  file: "{{ vars.table_identifier }}_tripdata_{{ vars.run_date }}.csv"
  gcs_file: "gs://{{ kv('GCP_BUCKET_NAME') }}/{{ vars.file }}"
  table: "{{ kv('GCP_DATASET') }}.{{ vars.table_identifier }}_tripdata_{{ vars.run_date }}"
  data: "{{ outputs.extract.outputFiles[render(vars.file)] }}"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      file: "{{ render(vars.file) }}"
      dataset: "fhv_tripdata"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{ vars.table_identifier }}/{{ render(vars.file) }}.gz | gunzip -c | tee {{ render(vars.file) }} | wc -c | numfmt --to=iec --format="%.1f"


  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ render(vars.data) }}"
    to: "{{ render(vars.gcs_file) }}"

  - id: load_fhv_to_bq
    type: io.kestra.plugin.core.flow.Sequential
    tasks:
      - id: bq_fhv_tripdata
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE TABLE IF NOT EXISTS `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.fhv_tripdata`
          (
              unique_row_id BYTES OPTIONS (description = 'A unique identifier for the trip, generated by hashing key trip attributes.'),
              filename STRING OPTIONS (description = 'The source filename from which the trip data was loaded.'), 
              dispatching_base_num STRING OPTIONS (description = 'The TLC Base License Number of the base that dispatched the trip'),
              pickup_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was engaged'),
              dropOff_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was disengaged'),
              PULocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was engaged'),
              DOLocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was disengaged'),
              SR_FLAG INTEGER OPTIONS (description = 'Indicates if the trip was a part of a shared ride chain offered by a High Volume FHV company. the value is 1. For non-shared rides, this field is null'),
              Affiliated_base_number STRING OPTIONS (description = 'Base number of the base with which the vehicle is affiliated')
          )
          PARTITION BY DATE(pickup_datetime);

      - id: bq_fhv_tripdata_ext
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE EXTERNAL TABLE `{{ kv('GCP_PROJECT_ID') }}.{{ render(vars.table) }}_ext`
          (
              dispatching_base_num STRING OPTIONS (description = 'The TLC Base License Number of the base that dispatched the trip'),
              pickup_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was engaged'),
              dropOff_datetime TIMESTAMP OPTIONS (description = 'The date and time when the meter was disengaged'),
              PULocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was engaged'),
              DOLocationID STRING OPTIONS (description = 'TLC Taxi Zone in which the taximeter was disengaged'),
              SR_FLAG INTEGER OPTIONS (description = 'Indicates if the trip was a part of a shared ride chain offered by a High Volume FHV company. the value is 1. For non-shared rides, this field is null'),
              Affiliated_base_number STRING OPTIONS (description = 'Base number of the base with which the vehicle is affiliated')
          )
          OPTIONS (
              format = 'CSV',
              uris = ['{{ render(vars.gcs_file) }}'],
              skip_leading_rows = 1,
              ignore_unknown_values = TRUE
          );

      - id: bq_fhv_table_tmp
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          CREATE OR REPLACE TABLE `{{ kv('GCP_PROJECT_ID') }}.{{ render(vars.table) }}`
          AS
          SELECT
            MD5(CONCAT(
              COALESCE(CAST(dispatching_base_num AS STRING), ""),
              COALESCE(CAST(pickup_datetime AS STRING), ""),
              COALESCE(CAST(dropOff_datetime AS STRING), ""),
              COALESCE(CAST(PULocationID AS STRING), ""),
              COALESCE(CAST(DOLocationID AS STRING), ""),
              COALESCE(CAST(Affiliated_base_number AS STRING), "")
            )) AS unique_row_id,
            "{{ render(vars.file) }}" AS filename,
            *
          FROM `{{ kv('GCP_PROJECT_ID') }}.{{ render(vars.table) }}_ext`;

      - id: bq_fhv_merge
        type: io.kestra.plugin.gcp.bigquery.Query
        sql: |
          MERGE INTO `{{ kv('GCP_PROJECT_ID') }}.{{ kv('GCP_DATASET') }}.fhv_tripdata` T
          USING `{{ kv('GCP_PROJECT_ID') }}.{{ render(vars.table) }}` S
          ON T.unique_row_id = S.unique_row_id
          WHEN NOT MATCHED THEN
            INSERT (unique_row_id, filename, dispatching_base_num, pickup_datetime, dropOff_datetime,
            PULocationID, DOLocationID, SR_FLAG, Affiliated_base_number) 
            VALUES (S.unique_row_id, S.filename, S.dispatching_base_num, S.pickup_datetime, S.dropOff_datetime, 
                   S.PULocationID, S.DOLocationID, S.SR_FLAG, S.Affiliated_base_number);

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: To avoid cluttering your storage, we will remove the downloaded files

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ kv('GCP_CREDS') }}"
      projectId: "{{ kv('GCP_PROJECT_ID') }}"
      location: "{{ kv('GCP_LOCATION') }}"
      bucket: "{{ kv('GCP_BUCKET_NAME') }}"

triggers:
  - id: fhv_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 1 * *"
    inputs:
      year: 2019
  

  
